<h1>Users#show</h1>

<% if flash[:notice] %>
  <p class='notice'><%= flash[:notice] %></p>
<% end %>

<% if current_user == @user %>
<!--
-see all my pictures
-create new picture (link)
-->
	<%= link_to 'Edit My Account', edit_user_path %>
	<%= button_to 'Delete Account', @user, method: :delete, data: { confirm: 'For sure??' } %>
<% end %>
