<h1>[Pictures - Index]</h1>

<h3>Most Popular Tags:
	<% @pop_tags.each do |t| %>
		<%= link_to t.name, t %>
	<% end %>
 /// Trending Tag: <%= link_to @trend_tag.name, @trend_tag %></h3>

<% @pictures.each do |p| %>
	<%= link_to image_tag(p.url, class: "grid"), picture_path(p) %>
<% end %>
