<h1>Pictures#show</h1>

<div class="">

	<h3><%= @picture.title %></h3>
	<figure>
		<%= image_tag @picture.url %>
		<figcaption>
			<%= link_to ("@" + @user.username), user_path(@user) %>
		</figcaption>
	</figure>

</div>
